<h1>Dashboard</h1>
<br />

<!-- card -->

<div class="card col-3">
  <div class="card-header"><h6>Total Category</h6></div>
  <div class="card-body">
    <h2 class="card-title">{{ data?.category }}</h2>
  </div>
</div>
<div class="card col-3">
  <div class="card-header"><h6>Total Products</h6></div>
  <div class="card-body">
    <h2 class="card-title">{{ data?.products }}</h2>
  </div>
</div>
<div class="card col-3">
  <div class="card-header"><h6>Total Bills</h6></div>
  <div class="card-body">
    <h2 class="card-title">{{ data?.bill }}</h2>
  </div>
</div>
<div class="card col-3">
  <div class="card-header"><h6>Total Delivery</h6></div>
  <div class="card-body">
    <h2 class="card-title">{{ data?.delivered }}</h2>
  </div>
</div>
